.footerDiv {
    height: 90dvh;
    width:auto;
    background-color: #DBA02E;
    box-shadow: 0 -2px 12px rgba(0,0,0,0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.footer-socials {
    display: flex;
    gap: 1em; /* Use em for scalable gap */
    align-items: center;
}

.footer-socials a {
    color: #FFFFFF;
    font-size: 2em; /* Use em for scalable icon size */
    text-decoration: none;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.footer-socials a svg {
    width: 1em;
    height: 1em;
    display: block;
}

.footer-socials a:hover {
    color: #0000006b;
}

.footer-text {
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 500;
}
@media (max-width: 600px){
    .footer-socials a{
        font-size: 1.5em;
    }
    .footer-socials{
        gap:0.7em;
    }
    .footerDiv{
        padding:0 0.8rem;
    }
    .footer-text{
        font-size:0.6rem;
    }
}
@media (max-height:450px){
    .footer-socials a{
        font-size: 1.2em;
    }
    .footer-socials{
        gap:0.7em;
    }
    .footerDiv{
        padding:0 0.8rem;
    }
    .footer-text{
        font-size:0.5rem;
    }
}